.footer_container {
    height: 337px;
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: #08316D;
}

.divider_hzl {
    margin: 41px 63px 0px 63px;
    opacity: 0.5;
    border: 1px solid #FFFCF4;
    height: 80%;
    align-items: center;
}

.footet_text_container {
    display: flex;
}

.footerlogo_container {
    display: flex;

}

.footerlogo {
    margin: 51px 354px 0px 126px;
}

.faq_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 38px;
    margin-left: 380px;
}

.faq_container>span {
    /* position: absolute; */
    left: 61.88%;
    right: 33.54%;
    top: 14.24%;
    bottom: 79.82%;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 325;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
    padding: 10px;
}

.support_container {
    margin-left: 60px;
    margin-top: 90px;
}

.support_text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.support_email {
    color: #D8AF49;
}

.contactus_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    gap: 10px;
    width: 138px;
    height: 40px;
    left: 0px;
    top: 0px;
    margin: 10px 60px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    background: #FFFFFF;
    border-radius: 4px;
    color: #08316D;
    border: none;
}

.divider_vtl {
    opacity: 0.5;
    border: 1px solid #FFFCF4;
    opacity: 0.5;
    border: 1px solid #FFFCF4;
    width: 90%;
    align-items: center;
    margin-left: 66px;
    margin-top: 20px;
}

.copyright_text_container {
    margin-top: 16px;
    margin-left: 66px;
}

.copyright_text {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */


    color: #FFFFFF;

    opacity: 0.6;
}

.scrolltop {
    position: absolute;
    /* left: 85.97%;
    right: 9.93%;
    top: 92.51%; */
    margin-left: 1560px;
    margin-top: -30px;
}

.scrolltop:hover {
    cursor: pointer;
}
.support_text support_email{
    
}